

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#firstdiv
{
    margin-top: -15px;
    height: 420px;
    padding: 15px;
    width: 100%;
    align-items: center;
    /* border:2px solid black; */
    background-color: #dfecec;
    
}
#firstdiv1
{
    margin-top: -15px;
    height: 420px;
    padding: 15px;
    width: 100%;
    align-items: center;
    /* border:2px solid black; */
    /* background-color: #dfecec; */
    
}
#formss1{
    margin-top: 20px;
    width: 90%;
  }
#seconddiv
{
    border:1px solid black;
    height: 350px;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #568f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
#modelss{
    /* border:2px solid black; */
    height: 315px;
    width: 350px;
    background-color: #dfecec;
    border-radius: 25px;
}
#formss{
  margin-top: 42px;
  width: 90%;
}
#formsss{
    width: 90%;
}
#options{
    width: 90%;
    height: 60px;
  }
#btn{
    height: 40px;
}
#usercreate{
    height: 55px;
    width:130px;
    border: 2px solid black;
    margin-top: 25px;
    border-radius: 15px;
    background-color:#95b0ea;
    color: white;
}
#usercreate:hover{
        background-color: beige;
        color: rgb(169, 111, 111);
}
#usercreatemain{
    height: 400px;
    /* border: 2px solid black; */
    margin-bottom: 18px;
    
}
#usercreatesecond{
    border: 2px solid black;
    width: 270px;
    height: 400px;
    border-radius: 15px;
    background-color: #b4c4e7;
    
}
#usersection11{
    border: 2px solid black;
    height: 400px;
    border-radius: 15px;
}
#usersection1{
    /* border: 2px solid black; */
    margin-bottom: 15px;
}
#usersection2{
    /* border: 2px solid black; */
    
}
#usersection3{
    /* border: 2px solid black; */
    width: 90%;
    height: 400px;
    /* margin-top: 15px; */
    border-radius: 15px;
    background-color: #748181;
    color: white;
    display: flex;
}
#usersection4{
    margin-top: 105px;
    margin-left: 35px;
}
#usercreate1{
    height: 55px;
    width:130px;
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 15px;
    background-color:#95b0ea;
    color: white;
}
#usercreate1:hover{
        background-color: beige;
        color: rgb(169, 111, 111);
}
#AssignTask{
    border: 2px solid black;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius:10px;
    background-color: rgb(192, 252, 192);
}
#AssignTask:hover{
    background-color: black;
    color: white;
}
#AssignTask1{
    text-decoration:none;
    /* color: black; */
}
#AssignTask1:hover{
    color: white;
}