


#btn:hover{
    background-color: rgb(48, 50, 50);
    color: black;
}
#btn1{
   border-radius: 5px;
}
#btn2{
    border-radius: 5px;
    width: 60px;
    margin-left: 7px;
    margin-top: 10px;
 }
#btn1:hover{
    background-color: rgb(245, 144, 144);
    color: white;
}
#options{
    height: 60px;
}
#loginone{
    /* border: 2px solid black; */
}
#logintwo{
    border: 2px solid rgb(254, 253, 253);
    width: 450px;
    border-radius: 15px;
    height: 300px;
    background-color: antiquewhite;
}
#loginthree{
    /* border: 2px solid black; */
    margin-top: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}
#dashboard1{
    height: 300px;
    border: 2px solid rgb(218, 140, 140);
    border-radius: 15px;
    background-color: azure;
    margin-top: 40px;
}
#dashboard3{
    /* border: 2px solid black; */
    height: 500px;
    margin-bottom: 15px;
}
#logintwo11{
    border: 2px solid rgb(254, 253, 253);
    width: 450px;
    border-radius: 15px;
    height: 410px;
    background-color: antiquewhite;
    margin-top: -65px;
}
#dashboard2{
    text-align: center;
    margin-top: 85px;
    border: 2px solid black;
    width: 120px;
    border-radius: 15px;
    height: 30px;
    margin-left: 105px;
}
#dashboard21{
    text-align: center;
    margin-top: 65px;
   
}
#btn1121{
    margin-left: 113px;
    margin-top: 15px;
}
